body {
    background-color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
}

#content {
    height: auto;
    padding: 20px;
}

.element {
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    font-size: 20px;
    margin: 20px 0px;
    padding: 7px;
}

.progress {
    background-color: white;
    margin-left: 10px;
    cursor: pointer;
}

#cart {
    background-color: white;
    margin-left: 0;
}

#pcart {
    width: 72%;
    height: 100%;
    float: left;
}

#sym .tr{
    padding: 19px 19px 19px 10px;
    background-color: white;
    min-width: 750px;
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    margin: 20px 0px;
}

.profile_product {
    width: 40%;
    height: 100%;
}

.price_product {
    text-align: center;
    width: 20%;
    height: 100%;
}

.quantity_product {
    text-align: center;
    width: 20%;
    height: 100%;
}

.total_product {
    text-align: center;
    width: 15%;
    height: 100%;
}

.trash_icon {
    text-align: right;
    width: 5%;
    height: 100%;
}

#product_cart {
    min-width: 750px;
    max-height: 450px;
    overflow: auto;
}

.info {
    position: relative;
    margin: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    padding: 19px 19px 19px 10px;
    justify-content: center;
    align-items: center;
}

.in4-pro {
    padding-top: 10px;
}

.area {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    font-size: 13px;
}

.gimage {
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

.gimage img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.info {
    position: relative;
}

#checkbox {
    cursor: pointer;
    margin-right: 5px;
    accent-color: black;
    width: 15px;
    height: 15px;
}

.chon {
    cursor: pointer;
    accent-color: black;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.mua {
    position: absolute;
    top: 50%;
}

.price {
    text-align: center;
    width: 20%;
    height: 100%;
}

.quantity_class {
    width: 20%;
    height: 100%;
    position: relative;
}

.buttonchoose {
    margin: 10px 50px;
}

.buttonchoose input {
    margin-top: 8px;
}

.total {
    text-align: center;
    width: 15%;
    height: 100%;
}

.trash {
    width: 5%;
    height: 100%;
    text-align: right;
    cursor: pointer;
}

#money {
    width: 25%;
    margin-left: 3%;
    margin-top: 20px;
    float: left;
    margin-bottom: 30px;
}

.who {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    justify-content: center;
}

.icon img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.sum {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    line-height: 50px;
}

.impo {
    padding-left: 5px;
    width: 40%;
    height: 100%;
    float: left;
}

#cost {
    padding-right: 5px;
    float: left;
    width: 60%;
    height: 100%;
    text-align: right;
}

.buynow {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    position: relative;
}

.button {
    color: white;
    border: none;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    height: 40%;
    background-color: red;
    cursor: pointer;
}

.button:hover {
    background-color: #DD0000;
}

.sanpham {
    margin-left: 20px;
}

#product_show {
    display: none;
    width: 72%;
    float: left;
    margin-bottom: 30px;
    overflow-y: scroll;
    max-height: 450px;
    border: 1px solid black;
    background-color: white;
}

.info2 {
    width: 95%;
    padding: 19px 9px;
    margin: 20px auto;
    background-color: #e7e7e7;
    border: 1px solid black;
    border-radius: 10px;
}

.introduct {
    padding-bottom: 5px;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.time {
    padding-bottom: 5px;
}

.id {
    padding-bottom: 5px;
}

.product_w {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.pro5 {
    width: 95%;
    height: 100%;
}

.pro5 ul li {
    height: 30px;
    width: 100%;
}

.Table {
    width: 100%;
    cursor: pointer;
}

.Table:hover {
    text-decoration: underline;
}

.trash_w {
    width: 5%;
    height: 100%;
}

.trash_w i {
    cursor: pointer;
}

#content {
    position: relative;
}

#show_product {
    width: 25%;
    height: 150%;
    margin-left: 2%;
    padding: 1%;
    padding-bottom: 23px;
    background-color: white;
    float: left;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid black;
}

.show_id,
.show_total {
    width: 100%;
}

.show_id {
    margin-top: 5px;
}

.show_idspan {
    position: absolute;
    left: 0;
    bottom: 0;
}

.show_total {
    bottom: -20px;
}

.show_image {
    width: 90px;
    height: 100px;
    float: left;
    object-fit: cover;
}

.show_image img {
    width: 90px;
    height: 100px;
}

.info2:hover{
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
}

#notification{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.chitiet:hover {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

.sanpham_show {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid black;
}

@media only screen and (max-width: 768px) {
    #pcart {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
}

.quantity_product,
.quantity_class {
    width: 30%;
}

@media only screen and (max-width: 1050px) {
    .element {
        width: 100%;
    }

    #pcart,
    #product_show {
        width: 100%;
    }
    .sanpham_show{
        height: 140px;
    }
    #money,
    #show_product {
        width: 90%;
        margin-left: 50px;
    }

    #show_product ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 760px) {

    .profile_product,
    .area {
        width: 35%;
    }

    .quantity_product,
    .quantity_class {
        width: 35%;
    }

    #money,
    #show_product {
        width: 90%;
        margin-left: 30px;
    }

    #show_product ul {
        display: block;
    }
}
#cart th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: red;
    color: white;
  }
  #cart {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #cart td, #cart th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #cart .quantity{
    text-align: center;
  }
  
  #cart tr:nth-child(even){background-color: lightgrey;}
  
  #cart tr:hover {background-color: #ddd;}