/* #--------------------# */
/* |                    | */
/* | CSS TRANG SẢN PHẨM | */
/* |                    | */
/* #--------------------# */

body {
    background-color: whitesmoke;
}

/* ------------------- Shop Page Breadcrumb -------------------- */
.shop-page-title-container {
    display: block;
    width: 100%;
    background: #EEEEEE;
    clear: both;
    height: auto;
    z-index: 1;
    position: relative;
}

.shop-page-title-container.darkmode {
    background-color: #2D333B;
}

.shop-page-title-inner {
    padding: 15px 30px;
}

.page-title {
    width: 100%;
    padding-bottom: 10px;
    color: black;
    
}

.shop-page-title-container.darkmode .page-title {
    color: #BB86FC;
}

.breadcrumb {
    font-size: large;
    color: #666666;
    font-weight: 600;
    
}

.shop-page-title-container.darkmode .breadcrumb {
    color: #BBBBBB;
}

.breadcrumb a {
    color: black;
    font-size: large;
    
}

.shop-page-title-container.darkmode .breadcrumb a {
    color: white;
}

.divider {
    font-size: 18px;
    padding: 5px;
}

element.style {
    background-color: white;
    color: white;
}

/* ----------------------- Content ------------------------ */
#main {
    font-family: sans-serif;
    width: 100%;
    background-color: #EEEEEE;
    height: auto;
    clear: both;
    position: relative;
}

/* Menu */
#menu-container {
    z-index: 10;
    display: block;
    clear: both;
    width: 100%;
    padding: 5px 0 15px;
    background-color: white;    
}

#menu-container.darkmode {
    background-color: #333333;
}

#menu-items.fixed1 {
    z-index: 3;
    width: 100%;
    position: fixed;
    top: 0px;
    padding-bottom: 10px;
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.4);
    background-color: white;
}

#menu-items.fixed {
    z-index: 3;
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.4);
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
    text-align: center;
    position: fixed;
    top: 80px;
}

#menu-container.darkmode #menu-items.fixed,
#menu-container.darkmode #menu-items.fixed1 {
    background-color:black;
}

#nav_left-menu {
    padding: 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.shop-sidebar-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(53, 53, 53);
}

#menu-container.darkmode .shop-sidebar-title {
    color: white;
}

.small_divider {
    margin-top: 10px;
    height: 3px;
    width: 150px;
    background-color: #FF3366;
    border-radius: 10px;
}

#menu-container.darkmode .small_divider {
    background-color: #BB86FC;
}

#menu-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#menu-items a {
    font-weight: 600;
    font-size: 16px;
    color: black;
}

#menu-container.darkmode #menu-items a {
    color: white;
}

#menu-container #menu-items a:hover,
#menu-container #menu-items a:hover .menu-value,
#menu-container #menu-items .menu-value.active {
    transition: .3s;
    border-bottom: 3px solid #FF3366;
    color: #FF3366;
}

#menu-container.darkmode #menu-items a:hover,
#menu-container.darkmode #menu-items a:hover .menu-value,
#menu-container.darkmode #menu-items .menu-value.active {
    color: white;
    border-bottom: 3px solid #BB86FC;
}

.menu-value {
    display: block;
    width: 100%;
    padding: 10px 10px 0;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    text-align: left;
}

/* ----------------------- Content ------------------------ */
#maincontent {
    width: 100%;
    padding: 20px 20px 10px;
    height: auto;
    background: white;
    position: relative;
}

#maincontent #loading {
    position: absolute;
    top: -180px;
    left: 50%;    
    z-index: 20;
}

#maincontent #loading img {
    width: 40px;
    height: 40px;
}

#maincontent.darkmode {
    background-color: #333333;
}

#products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    font-family: serif;
}

#maincontent #products .card {
    background-color: white;
    max-width: 25%;
    flex-grow: 1;
    flex-basis: 20%;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    height: auto;
    
}

#maincontent.darkmode #products .card {
    background-color: #333333;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.3s;
}

.card a {
    text-decoration-color: black;
    color: black;
}

#maincontent.darkmode #products .card:hover {
    box-shadow: 0 5px 15px rgba(48, 227, 202, 0.5);
    transition: 0.3s;
}

#maincontent.darkmode #products .card:hover .image-container {
    opacity: .9;
}

.image-container {
    margin: 0 10px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.container {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 10px 10px;
}

.container h4 {
    font-weight: 600;
    line-height: 20px;
    height: 40px;
    font-size: 18px;
    overflow-x: hidden;
    color: black;
}

#maincontent.darkmode #products .card h4,
#maincontent.darkmode #products .card h5 {
    color: #ADBAB9;
}

.container h5 {
    margin: 5px 0;
    float: left;
    font-size: 16px;
    color: black;
}

#products .addToCart-container {
    width: 100%;
    height: 50px;
    border-radius: 0 0 5px 5px;
    display: block;
    margin-top: 10px;
}

#products .addToCart-container .addToCart-btn {
    width: 100%;
    height: 50px;
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-weight: bold;
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-top: none;
    border-bottom: none;
    color: white;
    background-color: #FF3366;
    border-radius: 0 0 5px 5px;
    
}

#maincontent.darkmode #products .card .addToCart-container .addToCart-btn {
    background-color: #08D9D6;
    border-right: 3px solid #22272E;
    border-left: 3px solid #22272E;
}

#products .addToCart-btn:hover {
    transition: .2s;
    background-color: white;
    color: #FF3366;
}

#maincontent.darkmode #products .card .addToCart-container .addToCart-btn:hover {
    color: #14FFEC;
    background-color: black;
}

.hide {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* ----------------------- Page Number --------------------------- */
#page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    
}

.page-number {
    z-index: 0;
    width: 40px;
    height: 40px;
    background-color: salmon;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 20px 3px;
    font-weight: 600;
    color: white;
    transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
}

#maincontent.darkmode #page {
    background-color: #1D1D1D;
}

#maincontent.darkmode #page .page-number {
    background-color: white;
    color: black;
}

#page .page-number:hover,
#page .page-number.active {
    background-color: #FF0000;
    transition: .2s;
}

#maincontent.darkmode #page .page-number:hover,
#maincontent.darkmode #page .page-number.active {
    background-color: #BB86FC;
}

/* ------------------------ Responsive -------------------- */
@media only screen and (max-width: 400px) {
    .shop-page-title-inner {
        padding: 15px;
    }

    .page-title {
        font-size: 22px;
        padding-bottom: 8px;
    }

    .breadcrumb {
        font-size: 14px;
    }

    .breadcrumb a {
        font-size: 14px;
    }

    .divider {
        font-size: 14px;
    }

    .container h4 {
        font-size: 16px;
        line-height: 18px;
        height: 38px;
    }

    .container h5 {
        font-size: 14px;
    }

    .page-number {
        width: 32px;
        height: 32px;
    }
}

@media only screen and (max-width: 768px) {
    #menu-container {
        padding: 10px 0 25px;
    }

    #main .content-container {
        width: 100%;
    }

    #maincontent #products .card {
        max-width: 50%;
        flex-flow: 1;
        flex-basis: 50%;
    }
}

/* Điện thoại di động ở chế độ dọc */
@media only screen and (max-width: 576px) {
    .content-container {
        padding: 0;
    }

    #products .addToCart-container {
        height: 30px;
    }

    #products .addToCart-container .addToCart-btn {
        height: 30px;
        font-size: 12px;
    }
}

/* Máy tính bảng */
@media only screen and ((min-width: 650px) and (max-width: 992px)) {
    #maincontent #products .card {
        max-width: 33%;
        flex-flow: 1;
        flex-basis: 33%;
    }
}

/* Máy tính để bàn */
@media only screen and (min-width: 993px) {
    #maincontent #products .card {
        max-width: 25%;
        flex-flow: 1;
        flex-basis: 25%;
    }
}