/* ------------------- Shop Page Breadcrumb -------------------- */
.shop-page-title-container {
    display: block;
    width: 100%;
    background: #EEEEEE;
    clear: both;
    height: auto;
    z-index: 1;
    position: relative;
}

.shop-page-title-inner {
    padding: 15px 30px;
}

.page-title {
    width: 100%;
    padding-bottom: 10px;
    color: black;
    
}

.breadcrumb {
    font-size: large;
    color: #666666;
    font-weight: 600;
    
}

.breadcrumb a {
    color: black;
    font-size: large;
    
}

.divider {
    font-size: 18px;
    padding: 5px;
}

element.style {
    background-color: white;
    color: white;
}

/* ------------------------- MAIN ------------------------ */
#main {
    font-family: sans-serif;
    width: 100%;
    background-color: #EEEEEE;
    height: auto;
    clear: both;
    position: relative;
}

/* Menu */
#menu-container {
    z-index: 10;
    display: block;
    clear: both;
    width: 100%;
    padding: 30px 0 10px;
    background-color: white;    
}

#nav_left-menu {
    padding: 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.shop-sidebar-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(53, 53, 53);
}

.small_divider {
    margin-top: 10px;
    height: 3px;
    width: 150px;
    background-color: #FF3366;
    border-radius: 10px;
}

#main .search-container {
    width: 100%; 
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* background-color: rgb(0, 0, 0, 0.01); */
    background-color: white;
}

#main .search-container .inner {
    padding: 0 10px;
}

#main .search-container .inner label {
    display: block;
    font-size: 17px;
}

#main .search-container .inner input[type='text'] {
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: solid lightblue;
    margin-top: 5px;
    font-size: 16px;
}

#main .search-container .inner .price input[type='text'] {
    width: 150px;
}

#main .search-container .inner .price #from {
    margin-right: 15px;
}

#main .search-container .inner select {
    cursor: pointer;
    border: solid lightblue;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 5px;
    width: auto;
    font-size: 16px;
}

#main .search-container .inner select:focus {
    border-color: #4094F8;
}

#main .search-container .inner #pname {
    width: 300px;
}

#main .search-container .inner input[type='text']:focus {
    border-color: #4094F8;
}

#main .search-container .inner input[type='button'] {
    background-color: #4094F8;
    color: white;
    padding: 10px 20px;
    height: 42px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 25px;
}

#main .search-container .inner input[type='button']:hover {
    background-color: dodgerblue;
    transition: .2s;
}

#maincontent {
    width: 100%;
    padding: 20px 20px 10px;
    height: auto;
    background: white;
    position: relative;
}

#maincontent #loading {
    position: absolute;
    top: -180px;
    left: 50%;    
    z-index: 20;
}

#maincontent #loading img {
    width: 40px;
    height: 40px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    font-family: serif;
}

#maincontent #products .card {
    background-color: white;
    max-width: 25%;
    flex-grow: 1;
    flex-basis: 20%;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    height: auto;
    
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.3s;
}

.card a {
    text-decoration-color: black;
    color: black;
}

.image-container {
    margin: 0 10px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.container {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 10px 10px;
}

.container h4 {
    font-weight: 600;
    line-height: 20px;
    height: 40px;
    font-size: 18px;
    overflow-x: hidden;
    color: black;
}

.container h5 {
    margin: 5px 0;
    float: left;
    font-size: 16px;
    color: black;
}

#products .addToCart-container {
    width: 100%;
    height: 50px;
    border-radius: 0 0 5px 5px;
    display: block;
    margin-top: 10px;
}

#products .addToCart-container .addToCart-btn {
    width: 100%;
    height: 50px;
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-weight: bold;
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-top: none;
    border-bottom: none;
    color: white;
    background-color: #FF3366;
    border-radius: 0 0 5px 5px;
    
}

#products .addToCart-btn:hover {
    transition: .2s;
    background-color: white;
    color: #FF3366;
}

.hide {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#products div.no-product {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    padding: 50px 0;
}

#products div.no-product > img {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    z-index: 5;
}

/* ----------------------- Page Number --------------------------- */
#page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    
}

.page-number {
    z-index: 0;
    width: 40px;
    height: 40px;
    background-color: salmon;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 20px 3px;
    font-weight: 600;
    color: white;
    transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
}

#page .page-number:hover,
#page .page-number.active {
    background-color: #FF0000;
    transition: .2s;
}

/* ------------------------ Responsive -------------------- */
@media only screen and (max-width: 400px) {
    .shop-page-title-inner {
        padding: 15px;
    }

    .page-title {
        font-size: 22px;
        padding-bottom: 8px;
    }

    .breadcrumb {
        font-size: 14px;
    }

    .breadcrumb a {
        font-size: 14px;
    }

    .divider {
        font-size: 14px;
    }

    .container h4 {
        font-size: 16px;
        line-height: 18px;
        height: 38px;
    }

    .container h5 {
        font-size: 14px;
    }

    .page-number {
        width: 32px;
        height: 32px;
    }
}

@media only screen and (max-width: 768px) {
    #menu-container {
        padding: 10px 0 25px;
    }

    #main .content-container {
        width: 100%;
    }

    #maincontent #products .card {
        max-width: 50%;
        flex-flow: 1;
        flex-basis: 50%;
    }
}

/* Điện thoại di động ở chế độ dọc */
@media only screen and (max-width: 576px) {
    .content-container {
        padding: 0;
    }

    #products .addToCart-container {
        height: 30px;
    }

    #products .addToCart-container .addToCart-btn {
        height: 30px;
        font-size: 12px;
    }
}

/* Máy tính bảng */
@media only screen and ((min-width: 650px) and (max-width: 992px)) {
    #maincontent #products .card {
        max-width: 33%;
        flex-flow: 1;
        flex-basis: 33%;
    }
}

/* Máy tính để bàn */
@media only screen and (min-width: 993px) {
    #maincontent #products .card {
        max-width: 25%;
        flex-flow: 1;
        flex-basis: 25%;
    }
}