/* #-------------------# */
/* |                   | */
/* | CSS TRANG ĐĂNG KÝ | */
/* |                   | */
/* #-------------------# */

/* Đăng ký */
#mainDKContent-theme {
    width: 100%;
    height: auto;
    float: left;
    display: table;
    position: relative;
}

#mainDKContent-theme.darkmode {
    background-color: #1C2128;
}

.heading-account {
    padding-left: 1px;
    float: left;
    display: flex;
    width: 49.5%;
    height: 100%;
    justify-content: center;
    border-right: 1px solid gainsboro;
    align-items: center;
    position: absolute;
}

.header-page {
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: 900;
    text-decoration: underline orangered;
    text-underline-offset: 40px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); */
}

#mainDKContent-theme.darkmode .heading-account .header-page {
    text-decoration: underline #BB86FC;
    background: linear-gradient(to right, #BB86FC, #BB86FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-account {
    float: right;
    width: 50.5%;
    height: 550px;
    overflow-y: scroll;
    padding: 0px 60px;
}

.content-account::-webkit-scrollbar {
    display: none;
}

#mainDKContent-theme .userbox {
    width: 100%;
    height: auto;
    padding: 35px 40px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#sign-up-form input:focus {
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    opacity: 1;
    outline: 0;
}

.input-control {
    padding: 10px 0;
}

.input-control input {
    font-size: 15px;
    margin-top: 5px;
    padding: 0 20px;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    border: none !important;
    background-color: gainsboro;
    opacity: 0.8;
}

.input-control label {
    font-weight: 600;
}

.input-control.success input{
    border-color: #09c372;
}

.input-control .error {
    margin: 5px 0;
    display: none;
    color: #ff3860;
    font-size: 16px;
    height: 25px;
}

#signup-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 18px;
}

#signup-btn {
    height: 45px;
    width: 230px;
    border-radius: 30px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    border: solid black;
    margin-top: 15px;
}

#mainDKContent-theme.darkmode #signup-btn {
    border: none;
    background-color: #FF3366;
}

#mainDKContent-theme.darkmode #signup-btn:hover {
    background-color: white;
    color: #FF3366;
    transition: .2s;
}

#signup-btn:hover {
    color: black;
    background-color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    transition: .2s;
}

.sign-in-link a {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#mainDKContent-theme.darkmode .sign-in-link a {
    color: white;
}

#mainDKContent-theme.darkmode .sign-in-link a:hover {
    color: red;
}

.sign-in-link a:hover {
    color: red;
}

.sign-in-link i {
    padding-right: 5px;
}

/* ----------------------- Responsive --------------------- */
@media only screen and (max-width: 400px) {
    #mainDKContent-theme {    
        padding: 0 !important;
    }

    #mainDKContent-theme .heading-account {
        height: 130px;
        position: relative;
    }

    #mainDKContent-theme .header-page {
        font-size: 30px;
    }

    #mainDKContent-theme .content-account {
        padding: 30px 20px 20px;
    }

    #signup-btn {
        font-size: 15px;
        height: 35px;
        width: 70%;
    }

    #mainDKContent-theme .sign-in-link {
        padding: 20px 0;
    }

    #mainDKContent-theme .sign-in-link a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {

    /* Main */
    #mainDKContent-theme {
        height: auto;
        padding-bottom: 20px;
    }

    .heading-account {
        width: 100%;
        height: 200px;
        padding: 0;
        border-bottom: 1px solid gainsboro;
        position: relative;
    }

    .content-account {
        width: 100%;
        padding: 30px 60px 20px;
    }
}

/* Điện thoại di động ở chế độ dọc */
@media only screen and (max-width: 576px) {}

/* Điện thoại di động ở chế độ ngang */
@media only screen and ((min-width: 577px) and (max-width: 768px)) {}

/* Máy tính bảng */
@media only screen and ((min-width: 769px) and (max-width: 992px)) {}

/* Máy tính để bàn */
@media only screen and (min-width: 993px) {}