/* #-------------------# */
/* |                   | */
/* |     CSS CHUNG     | */
/* |                   | */
/* #-------------------# */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* ----------------------------- Header -------------------------- */
#header {
    width: 100%;
    height: 100px;
    background-color: black;
    position: relative;
    top: 0;
    z-index: 4;
    font-family: sans-serif;
}

#header.darkmode {
    background-color: #22272E;
}

.header-dropdown:hover {
    position: absolute;
    display: block;
    top: 40px;
    right: -10px;
    background-color: white;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 250px;
    height: 80px;
}

#res-header-cart {
    display: none;
}

#logo-container {
    padding: 5px 0px 0px 20px;
    float: left;
    width: 25%;
}

#logo-image {
    height: 95px;
    padding: 12px 0;
    float: left;
}

#flex_header-title {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}

#flex_header-title .header-title {
    padding: 30px 7px 20px;
    text-align: center;
    font-size: 13px;
    position: relative;
}

#header.darkmode #flex_header-title .header-title a {
    color: #CDD9E5;
}

#flex_header-title .header-title.active a,
#flex_header-title .header-title.active i {
    color: red;
}

#header.darkmode #flex_header-title .header-title:hover a,
#header.darkmode #flex_header-title .header-title.active a,
#header.darkmode #flex_header-title .header-title.active i {
    color: #BB86FC;
}

.header-title a {
    color: white;
}

#flex_header-title .header-title::before {
    position: absolute;
    content: "";
    top: 55px;
    left: auto;
    right: 2px;
    height: 2.5px;
    width: 0%;
    transition: .25s;
    background-color: red;
    border-radius: 5px;
}

#header.darkmode #flex_header-title .header-title::before {
    background-color: white;
}

#flex_header-title .header-title:hover::before,
#flex_header-title .header-title.active::before {
    left: 2px;
    right: auto;
    width: 95%;
}

.header-icon {
    color: white;
}

.header-icon:hover,
.header-icon:focus {
    color: red;
}

#header.darkmode .header-icon:hover,
#header.darkmode .header-icon:focus {
    color: #BB86FC;
}

.header-title a {
    font-weight: bold;
}

#flex_header-title .header-title:hover a {
    color: red;
    transition: .25s;
}

#flex_header-title .user,
#flex_header-title .search,
#flex_header-title .cart,
#flex_header-title .icon,
#flex_header-title .userbtn {
    padding: 25px 7px 20px;
    display: inline-block;
}

#flex_header-title .user .user-icon {
    color: white;
    display: none;
}

#flex_header-title .admin-logout {
    color: white;
    margin: 8px 20px 0 5px;
    padding: 10px 20px;
} 

#flex_header-title .admin-logout:hover i {
    color: red;
    transition: .25s;
}

#flex_header-title .user li:hover>.user-icon {
    display: block;
    text-align: center;
}

#flex_header-title .user li>.user-icon:hover {
    color: red;
}

#header.darkmode #flex_header-title .user li>.user-icon:hover {
    color: #BB86FC;
}

#flex_header-title .user:hover,
#flex_header-title .search:hover,
#flex_header-title .cart:hover,
#flex_header-title .icon:hover,
#flex_header-title .userbtn:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease;
    color: orangered;
}

#flex_header-title .user i.active {
    color: red;
}

#header.darkmode #flex_header-title .user i.active {
    color: #BB86FC;
}

.header-icon.darkmode {
    color: black;
}

.header-icon.darkmode:hover {
    color: red;
}

.header-title:hover .header-icon {
    color: red;
}

#header-product-dropdown,
#header.darkmode #header-product-dropdown {
    display: none;
    position: absolute;
    width: 150%;
    background-color: #222222;
    z-index: 999;
    top: 65px;
    right: -25px;
}

#header-product-title:hover #header-product-dropdown {
    display: list-item;
}

#header-product-dropdown li,
#header.darkmode #header-product-dropdown li {
    padding: 8px 0;
    border-bottom: 1px solid white;
}

#header-product-dropdown li:hover {
    border-bottom: 1px solid red;
}

#header.darkmode #header-product-dropdown li:hover {
    border-bottom: 1px solid #6A2C70;
}

#header #header-product-title #header-product-dropdown a {
    color: white;
}

#header #header-product-title #header-product-dropdown ul a:hover {
    color: #FF3366;
    transition: .2s;
}

/* #header.darkmode #header-product-title #header-product-dropdown ul a:hover {
    color: #2D236D;
    transition: .2s;
} */

#header-product-dropdown ul a:hover li {
    background-color: white;
}

/* #header.darkmode #header-product-dropdown ul a:hover li {
    background-color: #873D96;
} */

.user li>#btnlg {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

#header-search-btn {
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    border: none;
}

#header-search {
    position: relative;
}

#header-product-title .header-dropdown {
    height: 130px;
}

#header-search .header-dropdown {
    position: absolute;
    display: none;
    top: 40px;
    right: -10px;
    background-color: white;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 250px;
    height: 80px;
}

#header-search .header-dropdown:hover {
    position: absolute;
    display: none;
    top: 40px;
    right: -10px;
    background-color: white;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 250px;
    height: 80px;
}

#result {
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 240px;
    border-bottom: 1.5px solid black;
    border-right: 1.5px solid black;
    border-left: 1.5px solid black;
    display: none;
    margin-top: 75px;
    background-color: white;
    overflow-y: scroll;
}

#result::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#result::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.contentresult {
    border-bottom: 1px solid black;
    width: 100%;
    height: 60px;
    display: flex;
    cursor: pointer;
}

.contentresult:hover {
    box-shadow: 0 2px 10px 1px rgb(0 0 0 / 50%);
}

.co-img {
    width: 20%;
    height: 100%;
}

.co-img img {
    padding-left: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.co-name {
    padding-left: 5px;
    text-align: left;
    width: 80%;
    height: 100%;
    line-height: 60px;
    font-size: 14px;
}

.hienThi {
    display: block;
}

#header-search-input {
    margin: 20px 0 30px 10px;
    width: 190px;
    height: 35px;
    padding: 0 10px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    float: left;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

#header-search-input:focus {
    background-color: white;
}

#header-inner-search-btn {
    margin: 20px 0 30px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    background-color: black;
    float: left;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

#header-inner-search-btn:hover {
    background-color: wheat;
}

#header-inner-search-btn i {
    color: white;
}

#header-search:hover #header-dropdown {
    display: block;
}

#header-cart {
    margin-right: 10px;
}

#header-cart i.active {
    color: red;
}

#header.darkmode #header-cart i.active {
    color: #BB86FC;
}

#hamburger-container {
    display: none;
}

#sidebar-container {
    display: none;
}

#darkmode {
    background-color: transparent;
    z-index: 15;
    padding: 5px 15px 0 0;
}

#darkmode #darkmode-btn {
    height: auto;
    width: auto;
    color: white;
    cursor: pointer;
}

.hide {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* ---------------------------- Product ---------------------------- */
#product-info {
    width: 80%;
    height: 500px;
    background-color: white;
    z-index: 12;
    overflow-y: scroll;
}

#product-search-content {
    width: 100%;
    height: 100%;
    z-index: 17;
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
}

#product-search {
    padding: 20px 20px 20px 20px;
    margin-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
    width: 75%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
}

.product-search-text {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#search {
    padding: 10px;
    width: 80%;
    height: 80%;
    border-radius: 10px 0px 0px 10px;
    border: solid black;
    background-color: #EEEEEE;
}

#button-search {
    height: 80%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 0px 10px 10px 0px;
    color: white;
    background-color: #000000;
    cursor: pointer;
}

.xmark {
    position: absolute;
    right: 0;
    top: 0;
}

.xmark i {
    cursor: pointer;
}

#product-search-result {
    margin-top: 10px;
    width: 100%;
    height: 80%;
    display: flex;
}

.pro_result {
    width: 20%;
    height: 80%;
}

.image_result {
    width: 100%;
    height: 70%;
    object-fit: contain;
}

.image_result img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pro_result {
    border: 2px solid rgba(133, 133, 133, 0.888);
    font-size: 14px;
    margin: auto;
    border-radius: 10px;
}

.pro_result:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
}

.product_resutl {
    margin: 10px;
    text-align: center;
    line-height: 25px;
}

#Numpage {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Numpage ul {
    display: flex;
}

#Numpage ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border: 2px solid red;
    color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#Numpage ul li:active {
    background-color: red;
    color: white;
}

#filter {
    top: 0;
    margin-left: 20px;
    position: relative;
}

#filter i {
    cursor: pointer;
}

#filter_choose {
    display: none;
    background-color: black;
    width: 125px;
    position: absolute;
    top: 35px;
    right: -45px;
    padding: 12px;
    color: white;
    border-radius: 10px;
    line-height: 30px;
}

#filter_choose ul li {
    cursor: pointer;
}

#filter_choose ul li:hover {
    color: red;
    transition: .2s;
}


/* ------------------------- Footer ------------------------------ */
#footer {
    z-index: 3;
    width: 100%;
    height: auto;
    background-color: #222222;
    clear: both;
    display: block;
    position: relative;
    padding: 40px 0 0;
    color: #CCCCCC;
    font-family: sans-serif;
}

#footer.darkmode {
    background-color: #2D333B;
}

#footer a {
    color: #CCCCCC;
}

#top-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 30px 50px;
}

#top-footer p {
    font-size: 15px;
    font-weight: lighter;
    padding: 10px 0;
    line-height: 25px;
    overflow: hidden;
}

#top-footer a {
    font-size: medium;
    font-weight: lighter;
    padding: 10px 0;
}

#top-footer a:hover {
    color: red;
}

#top-footer h3 {
    font-size: 25px;
    padding: 0 0 20px;
    color: white;
}

.top-footer-menu {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 30px;
}

.top-footer-menu:nth-child(2) a:hover,
.top-footer-menu:nth-child(3) a:hover {
    font-size: larger !important;
    transition: .3s;
}

#top-footer-menu-img {
    width: 200px;
    height: 100px;
    margin: 0 0 20px;
    object-fit: contain;
}

.top-footer-icon {
    margin-right: 7px;
    color: white;
}

#top-footer-menu-input {
    padding: 10px 0;
}

#top-footer-email {
    padding: 10px;
    height: auto;
    width: 80%;
    float: left;
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #DDDDDD;
}

#top-footer-email:focus {
    background-color: white;
}

#top-footer-email-btn {
    padding: 10px 5px;
    height: 35.5px;
    float: left;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#top-footer-email-btn:hover {
    background-color: #EE0000;
}

#bottom-footer {
    width: 100%;
    padding: 40px 0 15px;
    text-align: center;
    border-top: 1px solid #DDDDDD;
}

#bottom-footer .bottom-footer-icon {
    display: inline-block;
    margin: 10px;
    padding: 8px 10px;
    border-radius: 50%;
    border: solid white;
}

/* #footer.darkmode #bottom-footer .bottom-footer-icon {
    border: solid black;
} */

#bottom-footer .bottom-footer-icon:hover {
    color: white;
}

#bottom-footer p {
    padding-top: 10px;
}

/* ----------------------Nút scroll to top ----------------------- */
#backtotop {
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    z-index: 5;
    bottom: 20px;
    right: 15px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid lightslategray;
    opacity: 0;
}

#backtotop.backtotop-active {
    opacity: 1;
}

#backtotop:hover {
    background-color: red;
    border: solid red;
}

#backtotop i {
    color: lightslategray;
}

#backtotop:hover i {
    color: white;
}

/* -------------------------- Alert ----------------------------- */
#alert-theme {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 15;
    position: fixed;
    top: 0;
    right: 0;
    display: none;

}

#alert-theme.alertActive {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#btn {
    width: 50px;
    height: 30px;
}

#alert-container {
    width: 400px;
    border: none;
    border-radius: 7px;
    height: 260px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    animation-name: alertAppear;
    animation-duration: .8s;
    z-index: 11;
    background-color: white;
}

#alert-container.active {
    display: block !important;
}

#alert-container .alert-icon-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

#alert-container .alert-icon-container .alert-icon {
    /* border: 3px solid #EDF8E7; */
    /* border: 3px solid #F27474; */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alert-container .alert-icon-container .alert-icon i {
    /* color: #A5DC86; */
    /* color: #F37777; */
    font-size: 40px;
}

#alert-container .type-message {
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #595959;
    padding-bottom: 10px;
}

#alert-container .message {
    font-size: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

#alert-container .confirm-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#alert-container .confirm-container #confirm-btn {
    width: 70px;
    height: 35px;
    background-color: #0099FF;
    color: white;
    outline: none;
    border: 4px double white;
    border-radius: 3px;
    cursor: pointer;

}

#alert-container .confirm-container #confirm-btn:hover {
    background-color: #3085D6;
    transition: .8s;
}

/* -------------------------- Responsive ------------------------- */
@media only screen and (max-width: 768px) {
    #header.fixed {
        position: fixed;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }

    #header {
        display: flex;
        height: 80px;
    }

    #res-header-cart {
        width: 10%;
        height: 100%;
        display: inline-block;
        padding: 30px 0 30px 20px;
    }

    #res-header-cart i {
        color: white;
    }

    #res-header-cart i:hover,
    #res-header-cart i.active {
        color: red;
    }

    #logo-container {
        padding: 5px 0px 0px 70px;
        width: 70%;
        display: flex;
        justify-content: center;
    }

    #logo-image {
        object-fit: contain;
        height: 100%;
    }

    #flex_header-title {
        display: none;
    }

    #hamburger-container {
        display: flex;
        width: 20%;
        justify-content: flex-end;
        align-items: center;
        transition: all 0.5s ease;
    }

    #hamburger {
        margin-right: 20px;
        cursor: pointer;
        z-index: 0;
        padding-right: 5px;
    }

    #hamburger i {
        color: white;
    }

    #hamburger:hover i {
        color: red;
    }

    #product-search {
        padding: 20px 20px 20px 20px;
        margin-right: 3px;
        margin-left: 3px;
        margin-right: 3px;
        width: 75%;
        height: 70%;
        background-color: white;

    }

    .product-search-text {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #search {
        width: 80%;
        height: 80%;
        border-radius: 10px 0px 0px 10px;
    }

    #button-search {
        height: 80%;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        border-radius: 0px 10px 10px 0px;
        color: white;
        background-color: #000000;
    }

    .xmark {
        position: absolute;
        right: 0;
        top: 0;
    }

    #product-search-result {
        margin-top: 10px;
        width: 100%;
        height: 280px;
        display: flex;
    }

    .pro_result {
        width: 300px;
        height: 250px;
    }

    .image_result {
        width: 100%;
        height: 80%;
        object-fit: contain;
    }

    .image_result img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .pro_result {
        border: 1px solid black;
        font-size: 14px;
        margin-left: 5%;
    }

    .pro_result:hover {
        box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    }

    #Numpage {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #Numpage ul li {
        display: inline-block;
        padding: 10px 10px 10px 10px;
        margin-left: 2px;
        border: 1px solid black;
        border-radius: 50%;
    }

    #filter {
        top: 0;
        margin-left: 20px;
        position: relative;
    }

    #filter_choose {
        display: none;
        background-color: white;
        width: 100px;
        position: absolute;
        top: 20px;
    }

    /* -------------------------- Sidebar --------------------- */
    #sidebar-container {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 15;
        position: fixed;
        top: 0;
        right: 0;
    }

    #sidebar-container.hienThi {
        display: block;
    }

    #sidebar-container.hide {
        display: none;
    }

    #sidebar {
        overflow-y: auto;
        position: relative;
        background-color: #222222;
        position: fixed;
        padding: 0 0 20px;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        animation-name: sidebarAppear;
        animation-duration: .8s;
    }

    #turnoff-container {
        padding: 20px 15px 40px;
    }

    #sidebar-darkmode {
        padding: 7px 0;
        float: left;
    }

    #sidebar-darkmode-btn {
        color: white;
        cursor: pointer;
    }

    #turnoff-btn {
        float: right;
        border: none;
        background-color: transparent;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    #turnoff-btn i {
        color: #DDDDDD;
    }

    #turnoff-btn:hover i {
        color: white;
        transition: .25s;
    }

    #sidebar-logo {
        height: 10%;
        text-align: center;
    }

    #sidebar-logo img {
        object-fit: contain;
        height: 60px;
    }

    .sidebar-search-container {
        padding: 30px 10px 10px;
        height: 15%;
    }

    #sidebar-search {
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 5px 0 0 5px;
        font-weight: 600;
        width: 83%;
        float: left;
        background-color: whitesmoke;
    }

    #result2 {
        position: absolute;
        width: 90%;
        max-height: 240px;
        display: none;
        z-index: 5;
        padding: 0px;
        background-color: white;
        overflow-y: scroll;
        margin-top: 36px;
        margin-bottom: 15px;
        border: 1px solid;
    }

    #sidebar .contentresult {
        z-index: 5;
        background-color: white;
    }

    #result2::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    #result2::-webkit-scrollbar-thumb {
        background-color: #000000;
    }

    #sidebar-search:focus {
        background-color: white;
    }

    .sidebar-search-container button {
        width: 35px;
        height: 35.5px;
        float: left;
        cursor: pointer;
        border: none;
        border-radius: 0 5px 5px 0;
        background-color: red;
    }

    .sidebar-search-container button:hover {
        background-color: #EE0000;
        transition: .2s;
    }

    .sidebar-search-container button i {
        color: white;
    }


    #sidebar ul {
        padding-top: 30px;
        height: 65%;
    }

    #sidebar ul li i {
        padding-right: 30px;
        color: white
    }

    #sidebar ul a {
        font-weight: bold;
    }

    #sidebar li {
        padding: 20px 15px;
        /* border-bottom: 1px solid #0c7db1; */
        border-bottom: 1px solid red;
    }

    #sidebar li .sidebar-item {
        font-size: 17px;
        color: white;
    }

    #sidebar ul li:hover,
    #sidebar ul li:hover i,
    #sidebar ul li.active,
    #sidebar ul li.active i {
        color: #FF3366;
        background-color: white;
    }

    #sidebar li:hover .sidebar-item,
    #sidebar ul li.active .sidebar-item {
        /* color: #0c7db1; */
        color: #FF3366;
    }

    body.active #sidebar {
        right: -250px;
    }

    /* -------------------------- Footer ------------------------ */
    #top-footer {
        padding: 0 0 20px 20px;
    }

    .top-footer-menu {
        width: 50%;
        padding-bottom: 30px;
    }

    .top-footer-menu:nth-child(odd) {
        padding-right: 30px;
    }

    .top-footer-menu:nth-child(even) {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 420px) {}

/* Điện thoại di động ở chế độ dọc */
@media only screen and (max-width: 576px) {

    /* Product info */
    #product-info {
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    

    /* Footer */
    #top-footer {
        padding: 0 20px 20px;
    }

    #top-footer .top-footer-menu {
        width: 100%;
    }

    #top-footer .top-footer-menu:nth-child(odd) {
        padding-right: 0;
    }

    #top-footer .top-footer-menu:nth-child(even) {
        padding-left: 0;
    }

    #top-footer-menu-img {
        align-self: center;
    }

    #top-footer-email {
        width: 170px;
    }

    #top-footer-email-btn {
        width: 35px;
        padding: 0;
    }
}

/* Điện thoại di động ở chế độ ngang */
@media only screen and ((min-width: 577px) and (max-width: 768px)) {}

/* Máy tính bảng */
@media only screen and ((min-width: 769px) and (max-width: 992px)) {
    .top-footer-menu {
        width: 50%;
        padding-bottom: 30px;
    }

    #top-footer-email {
        width: 50%;
    }
}

/* Máy tính để bàn */
@media only screen and (min-width: 993px) {}

/* ----------------------- Animation ---------------------- */
@keyframes upper {
    0% {
        transform: translateY(1000px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes sidebarAppear {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes sidebarDisappear {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(500px);
    }
}

@keyframes alertAppear {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0);
    }
}